<section *ngIf="showTable">
  <mat-label>Filter Vouchers</mat-label>
  <mat-select [(ngModel)]="currentSelectedVoucher" (selectionChange)="filterVoucher($event)">
    <mat-option value="all">
      All
    </mat-option>
    <mat-option *ngFor="let type of voucherTypes" value="{{type.value}}">{{type.name}}
    </mat-option>
  </mat-select>

  <table mat-table [dataSource]="filteredVouchers">
    <ng-container matColumnDef="voucher_type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let voucher"> {{voucher.voucher_type}} </td>
    </ng-container>

    <ng-container matColumnDef="voucher_code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let voucher"> {{voucher.voucher_code}} </td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef> Discount </th>
      <td mat-cell *matCellDef="let voucher"> {{voucher.discount}} </td>
    </ng-container>

    <ng-container matColumnDef="date_expired">
      <th mat-header-cell *matHeaderCellDef> Date Expired </th>
      <td mat-cell *matCellDef="let voucher"> {{voucher.date_expired}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let voucher">
        <button mat-stroked-button color="primary" (click)="openEditVoucher(voucher)">Edit</button>
        <button mat-stroked-button color="primary" (click)="openRemoveVoucher(voucher)">Remove</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</section>
