<div class="main-layout">
  <mat-card>
    <section>
      <img src="assets/img/favoriot-black-logo.png" alt="Favoriot Logo" class="logo">
      <h4>Voucher</h4>

    </section>

    <mat-tab-group (selectedTabChange)="showTemplate($event)">
      <mat-tab label="Create">

      </mat-tab>
      <mat-tab label="View">

      </mat-tab>
    </mat-tab-group>

    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </mat-card>
</div>
