.main-layout {
    margin: 20px;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logo {
            width: 250px;
            height: 50px;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

}