<section class="voucher-dialog">
  <div *ngFor="let voucher of listOfAllVouchers; let i = index" class="voucher-box">
    <div class="voucher-box" *ngIf="voucher.type === 'iot'">
      <h4>Voucher {{ i + 1 }}</h4>
      <p>For: {{ voucher.type }}</p>
      <p>Code: {{ voucher.code }}</p>
      <p>Discount: {{ voucher.discount }}</p>
      <p>Extend Years: {{ voucher.extendYears }}</p>
      <p>Expires On: {{ voucher.expires | date: 'medium' }}</p>
    </div>

    <div class="voucher-box" *ngIf="voucher.type === 'dscover'">
      <h4>Voucher {{ i + 1 }}</h4>
      <p>For: {{ voucher.type }}</p>
      <p>Code: {{ voucher.code }}</p>
      <p>Discount: {{ voucher.discount }}</p>
      <p>Subscription: {{ voucher.subscription }}</p>
      <p>Expires On: {{ voucher.expires | date: 'medium' }}</p>
    </div>

  </div>
</section>
