<div class="remove">
  <div class="header-section">
    <h4>Remove</h4>
  </div>

  <div class="body-section">
    <p>Are you sure you want to remove {{data.voucherid}}</p>
  </div>

  <div class="footer-section">
    <button mat-stroked-button color="primary" (click)="confirm()">Confirm</button>
  </div>
</div>
