section {
    padding: 20px;
    display: flex;
    flex-direction: column;

    mat-label {
        color: grey;
    }

    .mat-form-hack {
        margin: 10px 0px;

        mat-radio-button {
            display: block;
            color: rgba(0, 0, 0, 0.87);
        }
    }

    .wrapper {
        margin-top: 20px;
        display: flex;

        mat-input {
            display: block;
        }
    }
}