<section>

  <form [formGroup]="voucherForm" (ngSubmit)="submitVoucher()">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of listOfVoucherTypes" value="{{type.value}}">{{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Voucher Code</mat-label>
      <input type="text" matInput placeholder="Insert a name or leave blank" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of returnStatus('create')" value="{{status}}">{{status}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Redeem Quota Per Voucher</mat-label>
      <input type="number" matInput placeholder="Insert number of times voucher can be used" formControlName="count"
        min="1" max="999">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Generate #</mat-label>
      <input type="number" matInput placeholder="How many vouchers?" formControlName="generateNum" min="0" max="999">
    </mat-form-field>


    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="dateCreate" placeholder="MM/DD/YYYY" formControlName="dateCreated">
      <mat-datepicker-toggle matSuffix [for]="dateCreate"></mat-datepicker-toggle>
      <mat-datepicker #dateCreate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Expiry Date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" formControlName="dateExpiration">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Discount</mat-label>
      <input type="number" matInput placeholder="Insert a discount" formControlName="discount" min="0" max="100">
    </mat-form-field>


    <!-- START IOT -->
    <mat-form-field *ngIf="returnCurrentVoucherType === 'iot'" formGroupName="iot">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let cat of category" value="{{cat}}">{{cat}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="returnCurrentVoucherType === 'iot'" formGroupName="iot">
      <mat-label>Extend Year Account</mat-label>
      <input type="number" matInput placeholder="Extend a year" formControlName="extendYear" min="0" max="999">
    </mat-form-field>

    <!-- hackish -->
    <div class="mat-form-hack" *ngIf="returnCurrentVoucherType === 'iot'" formGroupName="iot">
      <mat-label>Training Voucher</mat-label>
      <mat-radio-group aria-labelledby="Training" class="" formControlName="training">
        <mat-radio-button class="example-radio-button" value="true">
          True
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="false">
          False
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <!-- END IOT -->

    <!-- START DSCOVER -->
    <div *ngIf="returnCurrentVoucherType === 'dscover'" formGroupName="dscover">
      <mat-form-field>
        <mat-label>Subscription Duration</mat-label>

        <mat-select formControlName="subscription">
          <mat-option *ngFor="let sub of subscription" value="{{sub}}">{{sub}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <button mat-stroked-button color="primary" [disabled]="voucherForm.invalid">Submit</button>
  </form>

</section>
