<div>
  <div class="header-section">
    <h4>Edit</h4>
  </div>

  <div class="body-section">
    <form [formGroup]="editForm">
      <div>
        <mat-form-field *ngFor="let control of listOfControls">
          <mat-label>{{control}}</mat-label>

          <input type="number" matInput [formControlName]="control"
            *ngIf="control === 'discount' || control === 'count'">

          <div *ngIf="control === 'date_created'">
            <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" [formControlName]="control">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>

          <div *ngIf="control === 'date_expired'">
            <input matInput [matDatepicker]="expired" placeholder="MM/DD/YYYY" [formControlName]="control">
            <mat-datepicker-toggle matSuffix [for]="expired"></mat-datepicker-toggle>
            <mat-datepicker #expired></mat-datepicker>
          </div>

          <mat-select [formControlName]="control" *ngIf="control === 'category'">
            <mat-option *ngFor="let cat of category" value="{{cat}}">{{cat}}
            </mat-option>
          </mat-select>

          <mat-select [formControlName]="control" *ngIf="control === 'status'">
            <mat-option *ngFor="let status of allStatus" value="{{status}}">{{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <button mat-stroked-button color="primary" [disabled]="editForm.invalid" (click)="editVoucher()">Update</button>

    </form>
  </div>
</div>
