/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

// Global Style
body {
    background-color: #B90083;
}

// Material Styling Overide
.mat-form-field {
    display: block !important;
}

.mat-table {
    width: 100%;
}